/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {

}

article {

}

h1 {

}

h2 {

}

img {
    max-width: 100%;
}

main {

}

section {

}

figure {
    margin: 0;
}

figcaption {
  font-size: .8em;
}

@media screen and (max-width: 500px) {
  article {
    font-size: large;
  }

  h1 {
    font-size: x-large;
  }
  
  img {
    margin-bottom: 34px;
  }

  body {
    margin: 20px;
  }

}
